<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เอกสารรายรับรายจ่าย</title>
    <style>
        body {
            font-family:Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            width: 90%;
            margin: 20px auto;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
        }

        h1,
        h2 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        table,
        th,
        td {
            font-size: 14px;
            border: 1px solid #ccc;
        }

        th,
        td {
            padding: 7px;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }

        .total {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>เอกสารรายรับรายจ่ายประจำเดือน</h2>
        <% if(headers) { %>         
            <span><%= headers.com_name %></span>
            <% if(headers.com_details) { %>
                <span><%= headers.com_address %></span>
            <% } %>
        <% } %>
        <table>
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>วันที่</th>
                    <th>รายการ</th>
                    <th>ประเภท</th>
                    <th>รายรับ (บาท)</th>
                    <th>รายจ่าย (บาท)</th>
                </tr>
            </thead>
            <tbody>
                <% if(data) { %>
                <% data.forEach((item, index)=> { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= item.month %></td>
                        <td><%= item.type_note === 1 ? 'รายรับ' : 'รายจ่าย' %></td>
                        <td><%= item.type_name %></td>
                        <td><%= item.total_income %></td>
                        <td><%= item.total_expense %></td>
                    </tr>
                    <% }) %>
                <% } %>
            </tbody>
            <tfoot>
                <% if(data) { %>
                    <% let total_income = 0 %>
                    <% let total_expense = 0 %>
                    <% data.forEach((item) => { %>
                        <% total_income += item.total_income %>
                        <% total_expense += item.total_expense %>
                    <% }) %>
                    <tr>
                        <td colspan="4" class="total">รวม</td>
                        <td class="total"><%= total_income %></td>
                        <td class="total"><%= total_expense %></td>
                    </tr>
                <% } %>
            </tfoot>
        </table>

        <h2>สรุป</h2>
        <p>รายรับทั้งหมด: 35,000 บาท</p>
        <p>รายจ่ายทั้งหมด: 2,000 บาท</p>
        <p>ยอดคงเหลือ: 33,000 บาท</p>
    </div>
</body>

</html>